*,
:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 181, 189, 0.25);
    padding: 1rem;
}


h1 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1.5rem;
}

main {
    max-width: 800px;
    width: 100%;
    container-type: inline-size;
}

.cocomo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    background-color: white;
    border-radius: 12px;

    @container (width < 800px) {
        flex-direction: column;
    }

    & :is(.cocomo-form__fields, .cocomo-form__results) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .cocomo-form__split {
        width: 100px;
        height: 100px;
        display: flex;
        position: relative;

        @container (width < 800px) {
            rotate: 90deg;
        }

        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 15px);
            left: calc(50% - 50px);
            background-color: rgb(173, 181, 189, 0.5);
            width: 100px;
            height: 30px;
            clip-path: polygon(0 10px, calc(100% - 15px) 10px, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 10px), 0 calc(100% - 10px));
        }
    }
}

.cocomo-form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;

    & :is(label) {
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        top: 8px;
        left: 10px;
        font-size: 1rem;
        background-color: white;
        transition: 0.1s ease-out;
        padding-inline: 8px;
        user-select: none;
        border-radius: 5px;

        .cocomo-form-field:has(output) &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border: 1px solid rgb(173, 181, 189);
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 100%;
            height: 50%;
            display: block;

        }
    }


    & :is(input, select, output) {
        min-width: 250px;
        height: 40px;
        line-height: 40px;
        border: 1px solid rgb(173, 181, 189);
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding-inline: 10px;
        font-size: 1rem;
        outline-color: darkblue;
        outline-width: 2px;

        &:is(output) {
            background-color: rgb(173, 181, 189, 0.1);
        }

        &:not(output):hover {
            border: 2px solid darkblue;
        }

        &::placeholder {
            color: transparent;
            user-select: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
            -webkit-appearance: none;
        }
    }

    &:has(output, select, input:where(:focus, :not(:placeholder-shown))) label {
        top: -10px;
        font-size: 0.85rem;
        padding-inline: 8px;
    }

    &:focus-within label,
    &:has(:is(select, input):hover) label {
        color: darkblue;
    }
}